.App {
  background-color: rgb(43, 43, 43);
  height: 100vh;
  width: 100vw;
}


.list-group2{
background-color: rgb(116, 116, 116);
height:16vh;
padding-right: 58px;
}

.list-group2 a span{
  display:block;
  font-size:2px;
  
}

.text-alignment {
  padding-top: 22px;
  padding-left: inherit;
}

.current {
  height:16vh ;
}